/*
font-family: 'Nanum Myeongjo', serif;
font-family: 'Rock Salt', cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 16px;
    font-weight: 600;
    color: #545454;
}
section{
   
    padding-bottom: 80px;
}

/*----------------------------header start-------------------------------------*/

.landing{
    background-image: linear-gradient(rgba(0, 0, 0, 0.547),rgba(0, 0, 0, 0.553)),url(../img/header-background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}

#heading-box{
    
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 2em;
    
}

ion-icon{
    
    color: white;
}



#heading-box h1{
    font-family: 'Rock Salt', cursive;
    
}

@media only screen and (max-width:1000px)
{
    .landing{
        height: 60vh;
    }

    #heading-box{
        top:55%;
        font-size: 1.7em;
    }
}

@media only screen and (max-width:500px)
{
    .landing{
        height: 60vh;
    }

    #heading-box{
        top:60%;
        font-size: 1.5em;
    }
}

/*----------------------------header end-------------------------------------*/
.navbar{
    opacity: 0.8;
    
}

.brand-img{
    border-radius: 50%;
    height: 40px;
}



/*----------------------------navbar- start-------------------------------------*/




/*----------------------------navbar-end-------------------------------------*/


/*----------------------------about-section-start-------------------------------------*/
.about h2{
    
    text-align: center;
    font-size: 2em;
    
}

.my-photo{
    display: block;
    border-radius: 50%;
    height:200px;
    margin-top: 40px;
    
    
    
}

.about-para{
    margin-top: 70px;
    text-align: justify;
    line-height:30px;
    word-spacing: 4px;
    font-size: 1.5em;

    /* padding-left:100px;
    margin-left: 300px;
    margin-right: 40px;
    width: 70%; */
    
}

@media only screen and (max-width: 1200px){

    .about-para{
        margin-left: 25px;
    }

    .my-photo{
        margin-top: 70px;
        height: 180px;
    }
}

@media only screen and (max-width: 991px){

    .about-para{
        margin-left: 90px;
        text-align: inherit;
    }

    .my-photo{
        margin-top: 70px;
        height: 180px;
    }
}

@media only screen and (max-width: 767px){

    .about-para{
        margin-left: 90px;
        text-align: inherit;
        margin: 0 auto;
    }

    .my-photo{
        margin-top:10px;
        margin-bottom: 20px;
        height: 180px;
        display: block;
       margin-left: auto;
       margin-right: auto;
 
    }
}



/*----------------------------about-section-end-------------------------------------*/

/*----------------------------project section start-------------------------------------*/

.projects h2{
    text-align: center;
    
    
    
    font-size: 2em;
}
.projects
{
    background-color: #e6e3e3;
    padding: 50px;
}
.projects ul{
    margin-top: 70px;
    margin-left: 400px;
    
}
.projects li{
    margin-bottom: 50px;
}

.projects a{
    text-decoration: none;
    color: #545454;
    font-size: 1.25em;
}

.projects p{
    font-size: 1.2em;
}


@media only screen and (max-width: 1200px)
{
    .projects ul{
        
        margin-left: 170px;
        
    } 
}


@media only screen and (max-width: 991px){

    .projects ul{
        
        margin-left: 80px;
        
    }
}

@media only screen and (max-width: 767px){

    .projects ul{
        
        margin-left: 40px;
        
    }
}

@media only screen and (max-width: 500px){

    .projects ul{
        
        margin-left: 12px;
        
    }
}

/*----------------------------project section end -------------------------------------*/





/*----------------------------skills section start -------------------------------------*/
.skills{
    background-color: white;
}

/*----------------------------skills section end -------------------------------------*/


/*----------------------------education section start -------------------------------------*/
.education{
    text-align: center;
}

.education table{
    border-collapse: collapse;
    margin: 40px auto;
    width: 80%;
    height: 300px;
}
table, th, td {
    border: 1px solid black;
  }


  /*----------------------------education section end -------------------------------------*/


  /*----------------------------contact-form section starts -------------------------------------*/
  .contact-me{
      background-color: white;
      
  }

  /*

  .contact-me ul{
    margin-left: 0;
    padding: 0 100px;
  }

  .contact-me li{
      margin-bottom: 17px;
  }

  .form{
      width: 800px;
      
      margin: 0 auto;
     
  }
  input{
      margin-left: 20px;
      border-style: none;
      border: 1px solid #BEBEBE;
      padding: 7px;
  }

  form li{
      list-style: none;
  }
  
.btn{
    margin: 0 auto;
}
.btn input{
    background-color: #EA7B00;;
    padding: 12px 25px 16px 25px;
    border-radius: 5px;
    color: white;;
    
}
*/
  /*----------------------------contact-form section end -------------------------------------*/