body{

background-color: antiquewhite;
margin-left: 10%;
margin-right: 10%;
padding: 0;
}

h1,h2,h3,h4,h5{
    color: #1F2933;
    font-weight: bold;
}

p{
    font-style: italic;
}

li{
 font-style: italic;
}

table td{
    border: 1px bold black;
}

.social-media a{
    text-decoration: none !important;
    color: red;
}